
<!--When your on a local server remove the dolphins2 part in search to see the page-->
<!--Example to see your updated page: http://127.0.0.1:4000/bmi-->
<table>
    <tr>
        <td><a href="https://jakewarren2414.github.io/dolphins2/">Home</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/bmi">BMI Info</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/food">Nutrition</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/sports">Workouts</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/activities">Calender</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/family-night">Gyms</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/gallery">Agile Manifesto</a></td>
    </tr>
</table>

<!--Login Frontmatter-->
<div style="padding: 5px;">
    <h3>Login</h3>
</div>
<div style="padding:5px">
    <label for="username">Username</label>
    <input type="text">
</div>
<div style="padding:5px">
    <label for="password">Password</label>
    <input type="text">
</div>
<div style="padding:5px">
    <p> Dont have an account? <a href="https://jakewarren2414.github.io/dolphins2/">Sign Up</a></p>
</div>