
<!--When your on a local server remove the dolphins2 part in search to see the page-->
<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/bmi">BMI Info</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/food">Nutrition</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/sports">Workouts</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/activities">Calender</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/family-night">Gyms</a></td>
        <td><a href="https://jakewarren2414.github.io/dolphins2/gallery">Tips/Hacks</a></td>
    </tr>
</table>

<!--Login Frontmatter-->
<table class="cool">
    <tr>
        <td><p class="login">Username</p><input type="text"></td>
        <td><p class="login">Password</p><input type="text"></td>
    </tr>
</table>