---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

table.cool {
  padding: 10px;
  display: flex;
}

div.signup {
  width: 40%;
  border-radius: 25px solid #2596be;
  border: 3px solid #2596be;
  padding: 20px;
  text-align: left;
  background-color: rgba(37, 150, 190, 50%);
}

p.signup {
  color: black;
}

.hidden {
  display: none;
}


