---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
    color: rgba(37, 150, 190, 75%)
  }

table.cool {
  padding: 10px;
  display: flex;
}

.signcontain {
  display: flex;
}

div.signup {
  flex: 1;
  width: 50%;
  border-radius: 25px solid #2596be;
  border: 3px solid black;
  padding: 20px;
  background-image: linear-gradient(120deg, #155799, #159957)
}

div.signup2 {
  flex: 1;
  width: 50%;
  border-radius: 25px solid #2596be;
  border: 3px solid black;
  padding: 20px;
  background-image: linear-gradient(120deg, #155799, #159957)
}

p.signup {
  color: black;
}


div.row2 {
  margin: auto;
  display: flex;
  background-image: linear-gradient(120deg, #155799, #159957);
  color: black;
}

div.column {
  flex: 100%;
  padding: 10%;
}

.tasks {
  padding: 5px;
  background-color: (to top left, #155799, #159957);
}

input[type=text], input[type=password], input[type=number], div.profile, select, button.profile {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  opacity: 0.9;
}

label.signupL {
  color: black;
}

.signupbtn {
  margin: auto;
  width: 100%;
  height: 50%;
  background-color: #159957;
  border: 0px;
  color: black;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

input:hover {
  opacity: 1;
}

table.profile {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
}

th.profile {
  background-color: lightgray;
  padding: 8px;
}

td.profile {
  border: 1px solid lightgray;
  padding: 8px;
}

tr:nth-child(even).profile td.profile {
  background-color: lightyellow;
}

tr:hover.profile td.profile {
  background-color: lightblue;
  cursor: pointer;
}

.contain {
  display: flex;
  background: linear-gradient(to top left, #155799, #159957);
}

.block {
  color: white;
  flex: 1;
  height: 300px;
  text-align: center;
  margin: 10px;
  u {
    color: #36454F;
  }
}

.hidden {
  display: none;
}

.show {
  opacity: 1;
}

#loginHead {
  padding: 20px;
  height: 20%;
}

#logininfo {
  padding: 20px;
  text-align: center;
}

.shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.3); /* create a regular shadow */
  backdrop-filter: blur(5px); /* apply a blur effect to the area behind the element */
}
